@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather&family=Montserrat:wght@400;700&family=Roboto:wght@400;500&family=Sacramento&family=Ubuntu&display=swap');
/* card1 general styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex; 
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    height: 650px;
    width: 100%;
    background: #ffffff;
}
.container .card1{
    display: flex;
    flex-direction: column;
    border-radius: 20px; 
    width: 360px;
    height: 367px;
    background: #ffffff;
    box-shadow: 0 5px 5px 5px rgba(173, 170, 170, 0.5);
    font-family: 'Roboto', sans-serif;
}
/* row1 styling */
.row1{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 20px;
}
.row1 div{
    display: flex;
}
.row1 img{
    border-radius: 50%;
    margin-right: 10px;
}
.row1 .content{
    margin-top: 6px;
    flex-direction: column;
}
.row1 h5{
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    color: #000000;
}
.row1 p{
    font-weight: 400;
    line-height: 26px;
    font-size: 15px;
    font-style: normal;
    letter-spacing: 0.5px;
    color: #78858F;
    align-self: stretch;
}
.row1 i{
    margin-top: 30px;
    cursor: pointer;
}

/* row2 styling */
.row2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 360px;
    height: 184px;
    background: url('../Images/rough shoe.png');
    align-self: stretch;
}

/* row3 styling */
.row3 p{
    font-weight: 400;
    line-height: 23px;
    font-size: 16px;
    font-style: normal;
    color: #78858F;
    letter-spacing: 0.5px;
    padding: 20px 30px 20px;
    margin-top: 8px;
}